rupture.scale = 0 560px 1040px
rupture.scale-names = 'r560' 'r1040' 'hd'

.portfolio-page
	min-height 100vh
	margin 0
	padding 40px
	font-family 'Arial', sans-serif
	font-size 20px
	background-color white
	border 10px solid #7e77e0
	box-sizing border-box
	
.portfolio
	color black

	&__title
		padding 0
		margin 0
		font-size 40px

		+below(r560)
			text-align center
			font-size 26px

	&__section-title
		padding 0
		margin 0
		margin-top 24px
		font-size 24px

		+below(r560)
			text-align center
			margin-top 20px
			font-size 20px

		& a
			color black

	&__descr
		margin 0
		padding 0
		padding-top 8px
		font-size 20px
		font-style italic

		+below(r560)
			padding-left 20px
			padding-right 20px
			font-size 16px
			text-align center

	& li
		margin-bottom 10px
